# Chapter 3
## Built-in Data Structures, Functions and Files

## 3.1 Data Structures and Sequences

### Tuple

In [1]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [3]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [4]:
tuple([4, 0, 2])

(4, 0, 2)

In [6]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [7]:
tup[0]

's'

In [8]:
tup = tuple(['foo', [1, 2], True])
tup[2] = False # will generate an exception since tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [9]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [12]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [21]:
multiplied_tuple = ('foo', [1]) * 4
multiplied_tuple

('foo', [1], 'foo', [1], 'foo', [1], 'foo', [1])

In [22]:
multiplied_tuple[3].append(2) # this will affect all copies of the mutated element
multiplied_tuple

('foo', [1, 2], 'foo', [1, 2], 'foo', [1, 2], 'foo', [1, 2])

#### Unpacking tuples

In [26]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [28]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [29]:
a, b = 1, 2
a

1

In [30]:
b

2

In [31]:
b, a = a, b
a

2

In [32]:
b

1

In [33]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [37]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
a, b

(1, 2)

In [38]:
rest

[3, 4, 5]

In [39]:
a, b, *_ = values
a, b

(1, 2)

#### Tuple methods

In [40]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

### List

In [41]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [43]:
b_list[1] = 'peekaboo'
b_list

['foo', 'peekaboo', 'baz']

In [44]:
gen = range(10)
gen

range(0, 10)

In [45]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Adding and removing elements

In [46]:
b_list.append('dwarf')
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [47]:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [48]:
b_list.pop(2)

'peekaboo'

In [49]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [50]:
b_list.append('foo')
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [51]:
b_list.remove('foo')
b_list

['red', 'baz', 'dwarf', 'foo']

In [52]:
'dwarf' in b_list

True

In [53]:
'dwarf' not in b_list

False

#### Concatenating and combining lists

In [54]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [56]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [74]:
# `extend` is much faster than `+` concatenation, since `+` creates a new list.
def concat_test_extend(list_of_lists):
    everything = []
    for chunk in list_of_lists:
        everything.extend(chunk)

def concat_test_addition(list_of_lists):
    everything = []
    for chunk in list_of_lists:
        everything = everything + chunk

list_of_lists = [[1, 2]] * 1000
%timeit concat_test_extend(list_of_lists)

76.2 µs ± 1.89 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [75]:
%timeit concat_test_addition(list_of_lists)

2.21 ms ± 48.5 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

#### Sorting

In [76]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [77]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

#### Binary search and maintaning a sorted list

In [82]:
import bisect

c = [1, 2, 2, 2, 3, 4, 7]
bisect.bisect(c, 2)

4

In [83]:
bisect.bisect(c, 5)

6

In [84]:
bisect.insort(c, 6)
c

[1, 2, 2, 2, 3, 4, 6, 7]

#### Slicing

In [93]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [94]:
seq[3:4] = [6, 3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [95]:
seq[:5]

[7, 2, 3, 6, 3]

In [96]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [97]:
seq[-4:]

[5, 6, 0, 1]

In [98]:
seq[-6:-2]

[6, 3, 5, 6]

In [99]:
seq[::2]

[7, 3, 3, 6, 1]

In [100]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

### Built-in Sequence Functions

#### `enumerate`

In [101]:
for i, value in enumerate([10, 20, 30]):
    print((i, value))

(0, 10)
(1, 20)
(2, 30)

In [104]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i

mapping

{'bar': 1, 'baz': 2, 'foo': 0}

#### `sorted`

In [106]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [107]:
string = 'horse race'
sorted(string)

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [108]:
string

'horse race'

#### `zip`

In [109]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [111]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [112]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [113]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers) # convert list of 'rows' to a list of 'columns'
first_names

('Nolan', 'Roger', 'Schilling')

In [114]:
last_names

('Ryan', 'Clemens', 'Curt')

#### `reversed`

In [117]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### `dict`

In [118]:
empty_dict = {}
empty_dict

{}

In [126]:
d1 = {'a': 'some value', 'b': [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [127]:
d1[7] = 'an integer'
d1

{7: 'an integer', 'a': 'some value', 'b': [1, 2, 3, 4]}

In [128]:
d1['b']

[1, 2, 3, 4]

In [129]:
'b' in d1

True

In [141]:
d1[5] = 'some value'
d1

{5: 'some value',
 7: 'an integer',
 'a': 'some value',
 'b': [1, 2, 3, 4],
 'dummy': 'another value'}

In [142]:
d1['dummy'] = 'another value'
d1

{5: 'some value',
 7: 'an integer',
 'a': 'some value',
 'b': [1, 2, 3, 4],
 'dummy': 'another value'}

In [143]:
del d1[5]
d1

{7: 'an integer',
 'a': 'some value',
 'b': [1, 2, 3, 4],
 'dummy': 'another value'}

In [144]:
ret = d1.pop('dummy')
ret

'another value'

In [145]:
d1

{7: 'an integer', 'a': 'some value', 'b': [1, 2, 3, 4]}

In [146]:
list(d1.keys())

['a', 'b', 7]

In [147]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [148]:
d1.update({'b': 'foo', 'c': 12})
d1

{7: 'an integer', 'a': 'some value', 'b': 'foo', 'c': 12}

#### Creating dicts from sequences

In [152]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

#### Default values

In [155]:
value = mapping.get(1000, 10)
value

10

In [159]:
words = ['apple', 'bat', 'bar', 'atom', 'book']

by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [160]:
# the above can be rewritten as:

by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [161]:
# and can be rewritten even more compactly using `collections.defaultdict`
from collections import defaultdict

by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

#### Valid `dict` key types

In [163]:
hash('string')

-5900704105155748444

In [164]:
hash((1, 2, (2, 3)))

1097636502276347782

In [165]:
hash((1, 2, [2, 3])) # fails because lists are mutable

TypeError: unhashable type: 'list'

In [166]:
d = {}
d[tuple([1, 3, 4])] = 5
d

{(1, 3, 4): 5}

### `set`

In [167]:
set([2, 3, 3, 1, 3, 3])

{1, 2, 3}

In [168]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [2]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [3]:
a | b # union binary operator

{1, 2, 3, 4, 5, 6, 7, 8}

In [4]:
a.intersection(b)

{3, 4, 5}

In [5]:
a & b # intersection binary operator

{3, 4, 5}

In [7]:
c = a.copy()
c |= b
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [8]:
d = a.copy()
d &= b
d

{3, 4, 5}

In [10]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [11]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)

True

In [12]:
a_set.issuperset({1, 2, 3})

True

In [13]:
{1, 2, 3} == {3, 2, 1}

True

In [14]:
{1, 2, 3} == {3, 2, 2}

False

### List, Set and Dict Comprehensions

In [15]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [17]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [18]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [19]:
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

#### Nested list comprehensions

In [20]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)

names_of_interest

['Steven']

In [23]:
# the following _nested_ list comprehension is equivalent:
[name for names in all_data for name in names if name.count('e') >= 2]

['Steven']

In [25]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
[x for tup in some_tuples for x in tup] # flatten list of tuples into single list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
# produces a list of lists, rather than a flattend list of all inner elements:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## 3.2 Functions

In [27]:
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

my_function(5, 6, z=0.7)

0.06363636363636363

In [28]:
my_function(3.14, 7, 3.5)

35.49

In [29]:
my_function(10, 20)

45.0

In [32]:
my_function(y=6, x=5, z=7)

77

### Namespaces, Scope and Local Functions

In [35]:
def func():
    some_list = []
    for i in range(5):
        some_list.append(i)

func()
some_list # not defined (`some_list` defined in local scope)

NameError: name 'some_list' is not defined

In [36]:
some_list = []
def func():
    for i in range(5):
        some_list.append(i)

func()
some_list # defined in global scope

[0, 1, 2, 3, 4]

In [37]:
some_other_list = None
def bind_some_other_list_variable():
    global some_other_list # generally discouraged
    some_other_list = []

bind_some_other_list_variable()
some_other_list

[]

### Returning Multiple Values

In [41]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

result = f()
result

(5, 6, 7)

In [42]:
a, b, c = f() # automatically unpack tuple
(a, b, c)

(5, 6, 7)

### Functions Are Objects

In [3]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda', 'south   carolina##', 'West virginia?']

In [4]:
# one approach:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [12]:
# ... or we could make a list of operations to apply
def remove_punctuation(value):
    return re.sub('[[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [15]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

### Anonymous (Lambda) Functions

In [17]:
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

print(short_function(2))
print(equiv_anon(2))

4
4

In [18]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2) # equivalent to [x * 2 for x in ints]

[8, 0, 2, 10, 12]

In [24]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']
# sort by number of distinct letters in each string
sorted(strings, key=lambda x: len(set(x)))

['aaaa', 'foo', 'abab', 'bar', 'card']

### Currying: Partial Argument Application

In [30]:
def add_numbers(x, y):
    return x + y

# derive a new function of one variable, `add_five`
add_five = lambda y: add_numbers(5, y)
add_five(20)

25

In [33]:
# equivalent:
from functools import partial
add_five = partial(add_numbers, 5)
add_five(20)

25

### Generators

In [34]:
# iterator protocol
some_dict = {'a': 1, 'b': 2, 'c': 3}

for key in some_dict:
    print(key)

a
b
c

In [35]:
# what the Python interpreter does under the hood:
dict_iterator = iter(some_dict)
dict_iterator

In [36]:
list(dict_iterator)

['a', 'b', 'c']

In [38]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

gen = squares()
gen

In [39]:
for x in gen:
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

#### Generator expressions

In [40]:
gen = (x ** 2 for x in range(100))
gen

In [41]:
# completely equivalent to:
def _make_gen():
    for x in range(100):
        yield x ** 2

gen = _make_gen()

In [42]:
sum(x ** 2 for x in range(100))

328350

In [43]:
dict((i, i ** 2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [46]:
# equivalent to:
{i: i ** 2 for i in range(5)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

#### `itertools` module

In [51]:
import itertools

first_letter = lambda x: x[0]

names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']

for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

### Errors and Exception Handling

In [1]:
float('1.2345')

1.2345

In [2]:
float('something') # generates ValueError

ValueError: could not convert string to float: 'something'

In [3]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

attempt_float('1.2345')

1.2345

In [4]:
attempt_float('something')

'something'

In [5]:
float((1, 2)) # generates TypeError

TypeError: float() argument must be a string or a number, not 'tuple'

In [7]:
# only handler a certain exception type
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

attempt_float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [11]:
# handle multiple explicit exception types
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x
    
attempt_float((1, 2))

(1, 2)

In [18]:
import os

def write_to_file(f):
    raise Exception('uh oh')

path = 'file'
f = open(path, 'w')

try:
    write_to_file(f)
finally:
    f.close()
    os.remove(path)

Exception: uh oh

In [21]:
f = open(path, 'w')

try:
    write_to_file(f)
except:
    print('Failed')
else:
    print('Succeeded')
finally:
    f.close()
    os.remove(path)

Failed

## 3.3 Files and the Operating System

In [51]:
path = 'examples/file_to_read.txt'

f = open(path) # opened in read-only mode by default
for line in f:
    pass
f.close()

In [52]:
with open(path) as f: # automatically closes the file when exiting the `with` block
    lines = [line.rstrip() for line in f] # strip newlines
lines

['somé', 'output', 'to', 'read from']

In [53]:
f = open(path, 'x') # should fail since the file already exists

FileExistsError: [Errno 17] File exists: 'examples/file_to_read.txt'

In [54]:
with open(path, 'a') as f: # append to file
    f.write('another line is written')

In [55]:
with open(path) as f:
    for line in f:
        print(line.rstrip())

somé
output
to
read from
another line is written

In [56]:
with open('examples/new_file', 'w') as f:
    f.write('a new file is written')

In [63]:
f = open(path)
f.read(10)

'somé\noutpu'

In [64]:
f2 = open(path, 'rb')
f2.read(10)

b'som\xc3\xa9\noutp'

In [65]:
f.tell() # the position is 11 because it took that many bytes to decode 10 characters using the default encoding

11

In [66]:
f2.tell()

10

In [67]:
import sys

sys.getdefaultencoding()

'utf-8'

In [68]:
f.seek(3)

3

In [69]:
f.read(1)

'é'

In [70]:
f.close()
f2.close()

In [73]:
with open('examples/test_writelines.txt', 'w') as f:
    f.writelines(line for line in open(path) if len(line) > 3)

with open('examples/test_writelines.txt') as f:
    lines = f.readlines()

lines

['somé\n', 'output\n', 'read from\n']

In [75]:
f.closed

True

In [77]:
f2.closed

True

### Bytes and Unicode with Files

In [79]:
with open(path) as f:
    chars = f.read(10)
chars

'somé\noutpu'

In [80]:
with open(path, 'rb') as f:
    data = f.read(10)
data

b'som\xc3\xa9\noutp'

In [82]:
data.decode('utf8')

'somé\noutp'

In [83]:
data[:4].decode('utf8') # generates UnicodeDecodeError, since 'é' is not fully formed at index 4

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc3 in position 3: unexpected end of data

In [85]:
sink_path = 'examples/sink.txt'

with open(path) as source:
    with open(sink_path, 'xt', encoding='iso-8859-1') as sink:
        sink.write(source.read())

with open(sink_path, encoding='iso-8859-1') as f:
    print(f.read(10))

somé
outpu

In [86]:
f = open(path)
f.read(5)

'somé\n'

In [87]:
f.seek(4)

4

In [88]:
f.read(1) # generates UnicodeDecodeError, since `seek` interprets arg as num bytes

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa9 in position 0: invalid start byte

In [89]:
f.close()